<form action="/cart" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken%>">
    <button type="submit" class="btn btn-outline-info">Add to Card</button>
    <input type="hidden" name="prodsId" value="<%= prods._id%>">
</form>